body {
    display: flex;
    background-color: #a474fc;
}
.container {
    height:1000px;
    width: 1000px;
}

.sidebar {
    flex: 0 1 auto;
    padding: 20px;

}

.row {
    display: flex;
    flex: 2 0 auto;
}

.square {
    flex: 1 0 auto;
    

}

.fill {
    background-color: black;
}